.donutchart-legend {
    display: none;
}

.donutchart-innertext-label {
    font-size: xxx-large;
    font-weight: 600;
}

.donutchart-innertext-value {
    font-size: xxx-large;
    font-weight: 600;
}